#header{
    background-color: #fff;
    position: relative;
}
#header:before{
    width: 100%;
    height: 650px;
    content: " ";
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../resources/images/HeadBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}