.advance-plan:before{
    width: 95%;
    height: 440px;
    content: " ";
    background:linear-gradient(0deg, rgba(0, 0, 30, 0.7), rgba(0, 0, 30, 0.7)), url(../../resources/images/progression-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.basic-plan:before{
    width: 95%;
    height: 440px;
    content: " ";
    background:linear-gradient(0deg, rgba(0, 0, 30, 0.7), rgba(0, 0, 30, 0.7)), url(../../resources/images/workout-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.beginers-plan:before{
    width: 95%;
    height: 440px;
    content: " ";
    background:linear-gradient(0deg, rgba(0, 0, 30, 0.7), rgba(0, 0, 30, 0.7)), url(../../resources/images/nutrition-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.text-uppercase{
    text-transform: uppercase;
}